.calendario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .calendario-card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  /* Estilos para el selector del año */
  .rdrYearPicker > select {
    background-color: yellow;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100px;
    color: black;
    font-weight: bold;
  }
  .rdrMonthPicker > select {
    background-color: yellow;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100px;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
  }
  .rdrMonthPicker > select:hover {
    background-color: yellowgreen;
  }
  .rdrYearPicker > select:hover {
    background-color: yellowgreen;
  }
  
  .rdrMonthName {
    text-transform: capitalize;
    color: black;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .rdrWeekDays > span {
    text-transform: capitalize;
    color: black;
    font-weight: bold;
  }
  
  .rdrDayDisabled {
    cursor: not-allowed; /* Cambia el cursor al pasar sobre fechas deshabilitadas */
    background-color: rgb(240, 240, 95); /* Establece el color de fondo a crema */
    font-weight: bold; /* Hace que el texto sea en negrita */
  }
  
  .rdrDayDisabled > span {
    text-decoration: line-through black; /* Tacha el texto */
  }
  
  .rdrMonthAndYearWrapper > button {
    background-color: yellow;
  }
  .rdrMonthAndYearWrapper > button:hover {
    background-color: yellowgreen;
  }
  