.perfilUsuario {
    color: black;
    background-color: #f6e8ed;
}

.perfilUsuario div{
    padding: 1vw;
}

.imagenPerfil{
    display: flex;
}

.imagenPerfil img{
    width: 90%;
    height: 100px; 
    object-fit: contain; 
  }