.react-datepicker__day--highlighted-custom-1 {
    background-color: #ffeb3b;
    color: black;
  }
  
  .react-datepicker__day--highlighted-custom-2 {
    background-color: #4caf50;
    color: white;
  }
  
  .calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  